/* Estilos generales */
body {
    background-color: #8CD7F2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

img{
    position: absolute;
    top: 2 px;
    left: 12px;
    width: 300px;
    height: 200x;
}

.container {
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}


.form-container, .search-container {
    background-color: #99bcf1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    box-sizing: border-box;
}

.form-container {
    height: auto; 
}

.search-container {
    min-height: 400px; 
    overflow-y: auto; 
}


.form-container label,
.search-container label {
    color: #333;
    margin-top: 12px;
    display: block;
    font-size: 18px;
}


.form-container input,
.search-container input,
.form-container button,
.search-container button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    width: calc(100% - 24px); 
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
}

.form-container button,
.search-container button {
    background-color: #201de4;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.form-container button:hover,
.search-container button:hover {
    background-color: #1a1780; 
}


.search-container table {
    margin-top: 5%;
    border-collapse: collapse;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.search-container th,
.search-container td {
    border: 1px solid #ddd; 
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

.search-container th {
    background-color: #4CAF50; 
    color: white;
}

.search-container td {
    background-color: #f2f2f2; 
}

.search-container tr:hover {
    background-color: #e9e9e9; 
}
